{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}


<div class="container">
    <div class="col-md-6 mx-auto mt-5">
        <h2 style="text-align:center;">Login</h2>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Login" %}
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
</div>
{% endblock body %}