.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-header {
    text-align: center;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item-details {
    display: flex;
    align-items: center;
    color :rgb(0, 0, 0);
}

.cart-item-name {
    font-weight: bold;
    margin-right: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.remove-from-cart-btn,
.quantity-btn {
    background-color: rgb(220, 156, 156); 
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-from-cart-btn:hover,
.quantity-btn:hover {
    color:rgb(255, 255, 255); 
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color :black;
}

.cart-item-price {
    font-weight: bold;
    color :black;
}

.continue-shopping-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(220, 156, 156); 
    font-weight: bold;
}

.continue-shopping-link:hover {
    text-decoration: none;
    color: rgb(0, 0, 0); 
}

.checkout-button {
    display: inline-block;
    background-color: rgb(220, 156, 156); 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 400px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.checkout-button:hover {
    color: white;
    text-decoration: none;
}